<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

{% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="wrapper">
      <header>
        <a href="{{ "/" | absolute_url }}">
            <img src="https://raw.githubusercontent.com/trec-health-misinfo/trec-health-misinfo.github.io/master/img/logo.png" alt="Logo" />
        </a>
        

        <p><a href="https://groups.google.com/forum/#!forum/trec-health-misinformation-track">Google groups</a>
        <hr>
        <h2> 2020 Registration </h2>
        <p><a href="https://trec.nist.gov/pubs/call2020.html" target="_blank">Deadline May 31 EAT, click here.</a>
        <h2 id="pastedition_title"> 2019 Track Overview </h2>
        <p><a id="pastedition_link" href="2019.html">For 2019 overview, click here.</a>
        <hr>

        {% if site.show_downloads %}
        <ul class="downloads">
          <li><a href="{{ site.github.zip_url }}">Download <strong>ZIP File</strong></a></li>
          <li><a href="{{ site.github.tar_url }}">Download <strong>TAR Ball</strong></a></li>
          <li><a href="{{ site.github.repository_url }}">View On <strong>GitHub</strong></a></li>
        </ul>
        {% endif %}
      </header>
      <section>

      {{ content }}

      </section>

    </div>
    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-134286847-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-134286847-1');
    </script>
    <script src="../javascript/TransformLink.js" onload="setLink()"></script>
  </body>
</html>
